<template>
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Изменение сущности</h3>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_content">
                            <div class="errors">
                                <div v-for="error in errorm">
                                    {{error.toString()}}
                                </div>
                            </div>
                            <br />
                            <form v-on:submit.prevent="Create" enctype="multipart/form-data" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">Название<span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-6 col-xs-12">
                                        <input v-model="page.title" type="text" id="title" required="required" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="lang">Язык <span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-6 col-xs-12">
                                        <select class="form-control" id="lang" v-model="page.lang" disabled>
                                            <option value="ru">Русский</option>
                                            <option value="en">Enlish</option>
                                            <option value="uz">O'bekcha</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="short">Краткое описаниа
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <textarea class="form-control col-md-7 col-xs-12" v-model="page.short" id="short" cols="30" rows="10"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="body">Описание
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <template v-if="page.full">
                                            <summernote
                                                :name="page.full"
                                                :model="page.full"
                                                v-on:change="value => { page.full = value }"
                                                :config="config"
                                            ></summernote>
                                        </template>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="file">Изображение <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input ref="file" @change="Upload" type="file" id="file" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group" v-if="page.image">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Предосмотр
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="col-md-7">
                                            <div class="thumbnail">
                                                <div class="image view view-first">
                                                    <img style="width: 100%; display: block;" v-bind:src="page.image" alt="image">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="baner">Изображение для банера <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input ref="file" @change="Uploadb" type="file" id="baner" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group" v-if="page.baner">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Предосмотр
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="col-md-7">
                                            <div class="thumbnail">
                                                <div class="image view view-first">
                                                    <img style="width: 100%; display: block;" v-bind:src="page.baner" alt="image">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                        <router-link :to="{ name: 'Pages' }" class="btn btn-danger">
                                            Отмена
                                        </router-link>
                                        <button class="btn btn-primary" type="reset">Очистить</button>
                                        <button type="submit" class="btn btn-success">Сохранить</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    require('../../../../public/summernote/summernote-bs4')
    import Summernote from '../templates/Summernote.vue';
    export default {
        props: ['errors'],
        components: {
            'summernote': Summernote,
        },
        data(){
            return{
                config: {
                    lang: 'ru',
                    height: 100,
                    toolbar: [
                        ['style', ['bold', 'italic']],
                        ['fontsize', ['fontsize']],
                        ['color', ['color']],
                        ['para', ['ul', 'ol', 'paragraph']],
                        ['insert', ['link', 'picture', 'code']],
                        ['highlight', ['highlight']]
                    ]
                },
                page: {
                    'image': '',
                    'baner' : '',
                },
                errorm:{},
            }
        },
        created: function()
        {
            this.getData();

        },
        methods: {
            Upload: function(event){
                const file = event.target.files[0];
                let uri = '/req/pages/u';
                const formData = new FormData()
                formData.append('file', file, file.name)
                this.axios.post(uri, formData).then((response) => {
                    this.page.image = response.data;
                })
            },
            Uploadb: function(event){
                const file = event.target.files[0];
                let uri = '/req/pages/u';
                const formData = new FormData()
                formData.append('file', file, file.name)
                this.axios.post(uri, formData).then((response) => {
                    this.page.baner = response.data;
                })
            },
            getData()
            {
                let uri = `/req/pages/e/`+ this.$route.params.id;
                this.axios.get(uri).then((response) => {
                    this.page = response.data;
                });
            },
            Create(){
                let uri = `/req/pages/e/`+ this.$route.params.id;
                this.axios.post(uri, this.page)
                    .then((response) => {
                        this.$router.push({name: 'Pages'})
                    })
                    .catch(error => {
                        this.errorm = error.response.data.errors;
                    });
            }
        }
    }
</script>
