<template>
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Изменение сущности</h3>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_content">
                            <br />
                            <div class="errors">
                                <div v-for="error in errorm">
                                    {{error.toString()}}
                                </div>
                            </div>
                            <form v-on:submit.prevent="Create" enctype="multipart/form-data" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">Название<span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-6 col-xs-12">
                                        <input v-model="page.title" type="text" id="title" required="required" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="short">Краткое описание<span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-6 col-xs-12">
                                        <input v-model="page.short" type="text" id="short" required="required" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="lang">Язык <span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-6 col-xs-12">
                                        <select class="form-control" id="lang" v-model="page.lang" disabled>
                                            <option value="ru">Русский</option>
                                            <option value="en">Enlish</option>
                                            <option value="uz">O'bekcha</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="file">Изображение
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input ref="file" @change="Upload" type="file" id="file" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group" v-if="page.image">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Предосмотр
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="col-md-7">
                                            <div class="thumbnail">
                                                <div class="image view view-first">
                                                    <img style="width: 100%; display: block;" v-bind:src="page.image" alt="image">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="body">Описание
                                    </label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <ckeditor :editor="editor" v-model="page.full" id="body"></ckeditor>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="baner">Изображение для банера <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input ref="file" @change="Uploadb" type="file" id="baner" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group" v-if="page.baner">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Предосмотр
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="col-md-7">
                                            <div class="thumbnail">
                                                <div class="image view view-first">
                                                    <img style="width: 100%; display: block;" v-bind:src="page.baner" alt="image">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-9 col-sm-6 col-xs-12 col-md-offset-3">
                                        <router-link :to="{ name: 'News' }" class="btn btn-danger">
                                            Отмена
                                        </router-link>
                                        <button class="btn btn-primary" type="reset">Очистить</button>
                                        <button type="submit" class="btn btn-success">Сохранить</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<style>
    .ck-editor__editable{
        height: 200px;
    }
</style>
<script>
    import CKEditor from '@ckeditor/ckeditor5-vue';
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
    export default {
        components: {
            ckeditor: CKEditor.component
        },
        props: ['errors'],
        data(){
            return{
                editor: ClassicEditor,
                errorm:{},
                page: {
                    'image': '',
                    'baner' : '',
                },
            }
        },
        created: function(){
            this.getData();
        },
        methods: {
            Upload: function(event){
                var id = event.target.id
                const file = event.target.files[0];
                let uri = '/req/news/u';
                const formData = new FormData()
                formData.append('file', file, file.name)
                this.axios.post(uri, formData).then((response) => {
                    this.page.image = response.data;
                })
            },
            Uploadb: function(event){
                const file = event.target.files[0];
                let uri = '/req/pages/u';
                const formData = new FormData()
                formData.append('file', file, file.name)
                this.axios.post(uri, formData).then((response) => {
                    this.page.baner = response.data;
                })
            },
            getData()
            {
                let uri = `/req/news/e/`+ this.$route.params.id;
                this.axios.get(uri).then((response) => {
                    this.page = response.data;
                });
                this.page.lang = 'ru'
            },
            Create(){
                let uri = '/req/news/e/'+ this.$route.params.id;

                this.axios.post(uri, this.page)
                    .then((response) => {
                        this.$router.push({name: 'News'})
                    })
                    .catch(error => {
                        this.errorm = error.response.data.errors;
                    });
            }
        }
    }
</script>
