<template>
    <div class="main_container">
        <div class="col-md-3 left_col">
            <Left></Left>
        </div>
        <div class="top_nav">
            <Top></Top>
        </div>
        <!--<div v-if="loading" id="loading">-->
            <!--<div class="loader"></div>-->
        <!--</div>-->
        <transition name="out-in">
            <router-view></router-view>
        </transition>
        <footer>
            <div class="pull-right">
                Powered by <a href="https://datasite.uz">DataSite Technology</a>
            </div>
            <div class="clearfix"></div>
        </footer>
    </div>
</template>

<style>
    .x_content .errors div{
        padding: 5px 10px;
        border: solid 1px #f00;
        border-radius: 5px;
        background: #ffd0d0;
        color: #000;
        font-size: 16px;
        margin-bottom: 15px;
    }
    .table.table-striped thead th.active.asc label:after{
        margin-left: 5px;
        content: '\f176';
        font-family: fontawesome;
    }
    .table.table-striped thead th.active.desc label:after{
        margin-left: 5px;
        content: '\f175';
        font-family: fontawesome;
    }
    .v-leave { opacity: 1; }
    .v-leave-active { transition: opacity .5s }
    .v-leave-to { opacity: 0; }
    .v-enter { opacity: 0; }
    .v-enter-active  { transition: opacity .5s }
    .v-enter-to { opacity: 1; }
    #loading{
        display: block;
        width: calc(100% - 230px);
        left: 230px;
        position: fixed;
        top: 58px;
        height: 100%;
        z-index: 99999999999;
        background-color: rgba(255,255,255,.65);
        text-align: center;
    }
    #loading .loader {
        display: inline-block;
        width: 100px;
        height: 100px;
        margin-top:25%;
    }
    #loading .loader:after {
        content: " ";
        display: block;
        width: 100px;
        height: 100px;
        margin: 1px;
        border-radius: 50%;
        border: 5px solid #2A3F54;
        border-color: #2A3F54 transparent #2A3F54 transparent;
        animation: lds-dual-ring 1.2s linear infinite;
        position: relative;
        z-index: 5;
    }
    @keyframes lds-dual-ring {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
</style>

<script>
    import Left from './components/templates/Left.vue'
    import Top from './components/templates/Top.vue'
    export default{
        name: 'App',
        data() {
            return {
                // loading: true,
            }
        },
        components: {
            'Left': Left,
            'Top': Top
        },
        watch: {
            '$route'(e) {
                // this.loading = true;
            },
        },

        mounted() {

        }
    }
</script>
