<template>
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="/" class="site_title" style="padding-right: 10px;">
                <img v-bind:src="settings.logo" alt="" width="100%">
<!--                <span>{{settings.sitename}}</span>-->
            </a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile clearfix">
            <div class="profile_pic">
                <img :src="user.image" alt="..." class="img-circle profile_img" width="56" height="56">
            </div>
            <div class="profile_info">
                <span>Добро пожаловать,</span>
                <h2>{{user.name}}</h2>
            </div>
        </div>
        <!-- /menu profile quick info -->

        <br />

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <ul class="nav side-menu">
                    <li>
                        <router-link :to="{ name: 'admin'}">
                            <i class="fa fa-home"></i> Главная
                        </router-link>
                    </li>
                </ul>
            </div>
            <div class="menu_section">
                <h3>Контент</h3>
                <ul class="nav side-menu">
                    <li><a><i class="fa fa-bars" aria-hidden="true"></i> Меню <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>
                                <router-link :to="{ name: 'Menu'}">
                                    Список меню
                                </router-link>
                            </li>
                            <li>
                                <router-link :to="{ name: 'Menu_c'}">
                                    Создать меню
                                </router-link>
                            </li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-file-text" aria-hidden="true"></i> Страницы <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>
                                <router-link :to="{ name: 'Pages'}">
                                    Список страниц
                                </router-link>
                            </li>
                            <li>
                                <router-link :to="{ name: 'Pages_c'}">
                                    Создать страницу
                                </router-link>
                            </li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-list-ul" aria-hidden="true"></i> Категории <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>
                                <router-link :to="{ name: 'Categories'}">
                                    Список категорий
                                </router-link>
                            </li>
                            <li>
                                <router-link :to="{ name: 'Categories_c'}">
                                    Создать категорию
                                </router-link>
                            </li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-shopping-cart" aria-hidden="true"></i> Продукты <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>
                                <router-link :to="{ name: 'Products'}">
                                    Список продуктов
                                </router-link>
                            </li>
                            <li>
                                <router-link :to="{ name: 'Products_c'}">
                                    Создать продукт
                                </router-link>
                            </li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-commenting-o" aria-hidden="true"></i> Отзывы <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>
                                <router-link :to="{ name: 'Services'}">
                                    Список отзывов
                                </router-link>
                            </li>
                            <li>
                                <router-link :to="{ name: 'Services_c'}">
                                    Создать отзыв
                                </router-link>
                            </li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-newspaper-o" aria-hidden="true"></i> Новости <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>
                                <router-link :to="{ name: 'News'}">
                                    Список новостей
                                </router-link>
                            </li>
                            <li>
                                <router-link :to="{ name: 'News_c'}">
                                    Создать новость
                                </router-link>
                            </li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-picture-o" aria-hidden="true"></i> Банеры <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>
                                <router-link :to="{ name: 'Slides'}">
                                    Список банеров
                                </router-link>
                            </li>
                            <li>
                                <router-link :to="{ name: 'Slides_c'}">
                                    Создать банер
                                </router-link>
                            </li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-trophy" aria-hidden="true"></i> Награды <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>
                                <router-link :to="{ name: 'Gallery'}">
                                    Список медиа
                                </router-link>
                            </li>
                            <li>
                                <router-link :to="{ name: 'Gallery_c'}">
                                    Создать контент
                                </router-link>
                            </li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-handshake-o" aria-hidden="true"></i> Партнеры <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>
                                <router-link :to="{ name: 'Partners'}">
                                    Список партнеров
                                </router-link>
                            </li>
                            <li>
                                <router-link :to="{ name: 'Partners_c'}">
                                    Создать партнера
                                </router-link>
                            </li>
                        </ul>
                    </li>
                    <li><a><i class="fa fa-briefcase" aria-hidden="true"></i> Вакансии <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li>
                                <router-link :to="{ name: 'Vacancies'}">
                                    Список вакансий
                                </router-link>
                            </li>
                            <li>
                                <router-link :to="{ name: 'Vacancies_c'}">
                                    Создать вакансию
                                </router-link>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!-- /sidebar menu -->

        <!-- /menu footer buttons -->
        <div class="sidebar-footer hidden-small">
            <router-link :to="{ name: 'Settings'}" data-toggle="tooltip" data-placement="top" title="Настройки">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </router-link>
            <a data-toggle="tooltip" data-placement="top" v-bind:title="fstitle" @click="fullscreen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <router-link :to="{ name: 'Social'}" data-toggle="tooltip" data-placement="top" title="Соц. сети">
                <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
            </router-link>
            <a data-toggle="tooltip" data-placement="top" title="Logout" href="/req/logout">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>
        <!-- /menu footer buttons -->
    </div>
</template>
<script>

    export default {
        data(){
            return{
                user: [],
                settings: [],
                fullscreenz: false,
                fstitle: 'Полноэкранный',
            }
        },
        methods: {
            getData()
            {
                let uri = `/req/settings/`;
                this.axios.get(uri).then((response) => {
                    this.settings = response.data;
                });
                let url = `/req/profile`;
                this.axios.get(url).then((response) => {
                    this.user = response.data;
                });
            },
            fullscreen()
            {
                var elem = document.documentElement;
                if (!this.fullscreenz) {
                    if (elem.requestFullscreen) {
                        elem.requestFullscreen();
                    } else if (elem.mozRequestFullScreen) { /* Firefox */
                        elem.mozRequestFullScreen();
                    } else if (elem.webkitRequestFullscreen) { /* Chrome, Safari and Opera */
                        elem.webkitRequestFullscreen();
                    } else if (elem.msRequestFullscreen) { /* IE/Edge */
                        elem.msRequestFullscreen();
                    }
                    this.fullscreenz = true;
                    this.fstitle = 'Оконный';
                } else {
                    if (document.exitFullscreen) {
                        document.exitFullscreen();
                    } else if (document.mozCancelFullScreen) { /* Firefox */
                        document.mozCancelFullScreen();
                    } else if (document.webkitExitFullscreen) { /* Chrome, Safari and Opera */
                        document.webkitExitFullscreen();
                    } else if (document.msExitFullscreen) { /* IE/Edge */
                        document.msExitFullscreen();
                    }
                    this.fullscreenz = false;
                    this.fstitle = 'Полноэкранный';
                }
            },
        },
        mounted(){
            this.getData();
        },
        created: function()
        {

        }
    }
</script>
