<template>
    <div class="dynamic-component summernote-component">
        <textarea :name="name">{{model}}</textarea>
    </div>
</template>

<script>
    export default {
        props: {
            model: {
                //type: Object,
                required: true
            },
            name: {
                type: String,
                required: true
            },
            config: {
                type: Object,
                default: {}
            }
        },

        mounted() {
            let vm = this;
            let model = this.model;
            let config = this.config;
            var txt = jQuery(this.$el).children('textarea');
            var text;

            config.callbacks = {
                onInit: function () {
                    text = txt[0].value
                },
                onChange: function () {
                    vm.$emit('change', text = txt[0].value);
                    return text;
                },
                onBlur: function () {
                    vm.$emit('change', text = txt[0].value);
                }
            };

            console.log(txt);

            txt.summernote(config);

        }
    }
</script>

