<template>
    <div class="nav_menu">
        <nav>
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <img :src="user.image" alt="">{{ user.name }}
                        <span class=" fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                        <li>
                            <router-link :to="{ name: 'Profile'}">
                                <i class="fa fa-user pull-right" aria-hidden="true"></i> Профиль
                            </router-link>
                        </li>
                        <li>
                            <router-link :to="{ name: 'Settings'}">
                                <i class="fa fa-cog pull-right" aria-hidden="true"></i> Настройки
                            </router-link>
                        </li>
                        <li><a href="/req/logout"><i class="fa fa-sign-out pull-right"></i> Выйти</a></li>
                    </ul>
                </li>

            </ul>
        </nav>
    </div>
</template>
<script>

    export default {
        data(){
            return{
                user: [],
            }
        },
        methods: {
            getData()
            {
                let urll = `/req/profile`;
                this.axios.get(urll).then((response) => {
                    this.user = response.data;
                });
            },
        },
        mounted(){
            this.getData();
        },
        created: function()
        {

        }
    }
</script>
