<!--<script src="../../../../node_modules/@ckeditor/ckeditor5-adapter-ckfinder/src/uploadadapter.js"></script>-->
<template>
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Создание сущности</h3>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_content">
                            <br />
                            <div class="errors">
                                <div v-for="error in errorm">
                                    {{error.toString()}}
                                </div>
                            </div>
                            <form v-on:submit.prevent="Create" enctype="multipart/form-data" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">Название<span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-6 col-xs-12">
                                        <input v-model="page.title" type="text" id="title" required="required" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="lang">Язык <span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-6 col-xs-12">
                                        <select class="form-control" id="lang" v-model="page.lang" disabled>
                                            <option value="ru">Русский</option>
                                            <option value="en">Enlish</option>
                                            <option value="uz">O'bekcha</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="period">Период<span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-6 col-xs-12">
                                        <input v-model="page.period" type="text" id="period" required="required" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="team">Команда<span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-6 col-xs-12">
                                        <input v-model="page.team" type="text" id="team" required="required" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Описание<span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-6 col-xs-12">
<!--                                        <summernote-->
<!--                                            :name="page.full"-->
<!--                                            :model="page.full"-->
<!--                                            :config="config"-->
<!--                                        ></summernote>-->
                                        <summernote
                                            :name="page.body"
                                            :model="page.body"
                                            v-on:change="value => { page.body = value }"
                                            :config="config"
                                        ></summernote>
                                    </div>
                                </div>
<!--                                <div class="form-group">-->
<!--                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="body">Описание-->
<!--                                    </label>-->
<!--                                    <div class="col-md-9 col-sm-9 col-xs-12">-->
<!--                                        <ckeditor :editor="editor" v-model="page.full" id="body"></ckeditor>-->
<!--                                    </div>-->
<!--                                </div>-->
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-9 col-sm-6 col-xs-12 col-md-offset-3">
                                        <router-link :to="{ name: 'Vacancies' }" class="btn btn-danger">
                                            Отмена
                                        </router-link>
                                        <button class="btn btn-primary" type="reset">Очистить</button>
                                        <button type="submit" class="btn btn-success">Сохранить</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<style>
    .ck-editor__editable{
        height: 200px;
    }
</style>
<script>
    require('../../../../public/summernote/summernote-bs4')
    import CKEditor from '@ckeditor/ckeditor5-vue';
    import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
    import Summernote from '../templates/Summernote.vue';

    export default {
        components: {
            'summernote': Summernote,
            ckeditor: CKEditor.component,
        },
        props: ['errors'],
        data(){
            return{
                config: {
                    lang: 'ru',
                    height: 100,
                    toolbar: [
                        ['style', ['bold', 'italic']],
                        ['fontsize', ['fontsize']],
                        ['color', ['color']],
                        ['para', ['ul', 'ol', 'paragraph']],
                        ['insert', ['link', 'picture', 'code']],
                        ['highlight', ['highlight']]
                    ]
                },
                editor: ClassicEditor,
                errorm:{},
                page: {},
            }
        },
        created: function(){
            this.getData();
        },
        methods: {
            getData()
            {
                this.page.lang = 'ru'
            },
            Create(){
                let uri = '/req/vacancies/c';

                this.axios.post(uri, this.page)
                    .then((response) => {
                        this.$router.push({name: 'Vacancies'})
                    })
                    .catch(error => {
                        this.errorm = error.response.data.errors;
                    });
            }
        }
    }
</script>
