<template>
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Создание сущности</h3>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_content">
                            <br />
                            <div class="errors">
                                <div v-for="error in errorm">
                                    {{error.toString()}}
                                </div>
                            </div>
                            <form v-on:submit.prevent="Create" enctype="multipart/form-data" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">Название<span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-6 col-xs-12">
                                        <input v-model="page.title" type="text" id="title" required="required" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="path">Путь<span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-6 col-xs-12">
                                        <input v-model="page.path" type="text" id="path" required="required" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="order">Вес<span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-6 col-xs-12">
                                        <input v-model="page.order" type="number" id="order" required="required" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="lang">Язык <span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-6 col-xs-12">
                                        <select class="form-control" id="lang" v-model="page.lang" disabled>
                                            <option value="ru">Русский</option>
                                            <option value="en">Enlish</option>
                                            <option value="uz">O'bekcha</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-9 col-sm-6 col-xs-12 col-md-offset-3">
                                        <router-link :to="{ name: 'Menu' }" class="btn btn-danger">
                                            Отмена
                                        </router-link>
                                        <button class="btn btn-primary" type="reset">Очистить</button>
                                        <button type="submit" class="btn btn-success">Сохранить</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<style>
    .ck-editor__editable{
        height: 200px;
    }
</style>
<script>
    export default {
        props: ['errors'],
        data(){
            return{
                errorm:{},
                page: {},
            }
        },
        created: function(){
            this.getData();
        },
        methods: {
            getData()
            {
                // let uri = `/req/courses/`;
                // this.axios.get(uri, {
                //     params: {
                //         currentSort: 'id',
                //         currentSortDir: 'asc'
                //     }
                // }).then((response) => {
                //     this.courses = response.data;
                // });
                this.page.lang = 'ru'
            },
            Create(){
                let uri = '/req/menu/c';

                this.axios.post(uri, this.page)
                    .then((response) => {
                        this.$router.push({name: 'Menu'})
                    })
                    .catch(error => {
                        this.errorm = error.response.data.errors;
                    });
            }
        }
    }
</script>
