<template>
    <p><i class="dragger fa fa-arrows" aria-hidden="true"></i><span>{{data.title}}</span></p>
</template>
<script>
    export default {
        props: {
            d: [Object]
        },
        data() {
            return {
                data: {}
            }
        },
        mounted(){
            this.data = this.d;
        }
    }
</script>
