<template>
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Главная</h3>
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="row tile_count">
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-file-text" aria-hidden="true"></i> Страниц</span>
                    <div class="count">{{data.pages}}</div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Продуктов</span>
                    <div class="count green">{{data.products}}</div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-commenting-o" aria-hidden="true"></i> Отзывов</span>
                    <div class="count">{{data.feedbacks}}</div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-newspaper-o" aria-hidden="true"></i> Новостей</span>
                    <div class="count green">{{data.news}}</div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-trophy" aria-hidden="true"></i> Наград</span>
                    <div class="count">{{data.awards}}</div>
                </div>
                <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-handshake-o" aria-hidden="true"></i> Партнеров</span>
                    <div class="count green">{{data.partners}}</div>
                </div>
            </div>
            <div class="row asd">
                <div class="col-md-4">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Последние новости
                            </h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <article class="media event" v-for="news in latest.pages">
                                <a class="pull-left date">
                                    <p class="month">{{news.month}}</p>
                                    <p class="day">{{news.day}}</p>
                                </a>
                                <div class="media-body">
                                    <a class="title" :href="'/news/'+news.id">{{news.title}}</a>
                                    <p>{{news.short.substr(0, 50)}}</p>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Последние отзывы
                            </h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <article class="media event" v-for="news in latest.feedbacks">
                                <a class="pull-left date">
                                    <p class="month">{{news.month}}</p>
                                    <p class="day">{{news.day}}</p>
                                </a>
                                <div class="media-body">
                                    <a class="title">{{news.title}}</a>
                                    <p>{{news.full.substr(0, 50)}}</p>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="x_panel">
                        <div class="x_title">
                            <h2>Последние продукты
                            </h2>
                            <ul class="nav navbar-right panel_toolbox">
                                <li><a class="close-link"><i class="fa fa-close"></i></a>
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <article class="media event" v-for="news in latest.products">
                                <a class="pull-left date">
                                    <p class="month">{{news.month}}</p>
                                    <p class="day">{{news.day}}</p>
                                </a>
                                <div class="media-body">
                                    <a class="title" :href="'/products/'+news.id">{{news.title}}</a>
                                    <p>{{news.short.substr(0, 50)}}</p>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<style>
    .asd .nav {
        opacity: 0;
        pointer-events: none;
    }
</style>
<script>
    export default {
        data() {
            return {
                data: {},
                latest: {},
            }
        },
        methods: {
            strDate(str, type){
                var myDate = new Date(str);
                if(type == 'day'){
                    return myDate.getDate()
                }
            },
            getData() {
                let uri = `/req/counts/`;
                this.axios.get(uri).then((response) => {
                    this.data = response.data;
                    let uri = `/req/latest/`;
                    this.axios.get(uri).then((response) => {
                        this.latest = response.data;
                    });
                });
            },
        },
        created: function () {
            this.getData();

        }
    }
</script>
