<template>
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Настройки пользователя</h3>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_content">
                            <br />
                            <div class="errors">
                                <div v-for="error in errorm">
                                    {{error.toString()}}
                                </div>
                            </div>
                            <form v-on:submit.prevent="Create" enctype="multipart/form-data" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Имя <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input v-model="page.name" type="text" id="name" required="required" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">E-mail <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input v-model="page.email" type="email" id="email" required="required" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="image">Изображение профиля
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input ref="logo" @change="Upload" type="file" id="image" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group" v-if="image">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Предосмотр
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="col-md-7">
                                            <div class="thumbnail">
                                                <div class="image view view-first">
                                                    <img style="width: 100%; display: block;" v-bind:src="image" alt="image">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="password">Пароль (новый)
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input v-model="page.password" type="password" id="password" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="password_confirmation">Подтверждение пароля
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input v-model="page.password_confirmation" type="password" id="password_confirmation" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                        <button type="submit" class="btn btn-success">Сохранить</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['errors'],
        data(){
            return{
                image: '',
                page: {},
                errorm:{},
            }
        },
        created: function(){
            this.getData();
        },
        methods: {
            getData()
            {
                let uri = `/req/profile/`;
                this.axios.get(uri).then((response) => {
                    this.page = response.data;
                    this.image = this.page.image
                });
            },
            Upload (event){
                const file = event.target.files[0];
                let uri = '/req/upload';
                const formData = new FormData()
                formData.append('image', file, file.name)
                this.axios.post(uri, formData, {
                    params: {
                        type: 'user'
                    }
                }).then((response) => {
                    this.image = response.data;
                })
            },
            Create(){
                let uri = '/req/profile';
                var config = {
                    headers: { 'X-CSRF-TOKEN': Laravel.csrfToken }
                };

                let data = new FormData();
                $.each(this.page, function(key, value) {
                    data.append(key, value);
                });

                data.append('image', this.image);

                this.axios.post(uri, data, config)
                    .then((response) => {
                        this.$router.push({name: 'admin'})
                    })
                    .catch(error => {
                        this.errorm = error.response.data.errors;
                    });
            }
        }
    }
</script>
