<template>
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Настройки сайта</h3>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_content">
                            <br />
                            <div class="errors">
                                <div v-for="error in errorm">
                                    {{error.toString()}}
                                </div>
                            </div>
                            <form v-on:submit.prevent="Create" enctype="multipart/form-data" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sitename">Название сайта <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input v-model="page.sitename" type="text" id="sitename" required="required" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="logo">Логотип
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input ref="logo" @change="Upload" type="file" id="logo" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group" v-if="logo">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Предосмотр
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="col-md-7">
                                            <div class="thumbnail">
                                                <div class="image view view-first">
                                                    <img style="width: 100%; display: block;" v-bind:src="logo" alt="image">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="favico">Значок
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input ref="favico" @change="Upload" type="file" id="favico" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group" v-if="favico">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Предосмотр
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="col-md-7">
                                            <div class="thumbnail">
                                                <div class="image view view-first">
                                                    <img style="width: 100%; display: block;" v-bind:src="favico" alt="image">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="phone">Номер телефона <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input v-model="page.phone" type="text" id="phone" required="required" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="fax">Факс <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input v-model="page.fax" type="text" id="fax" required="required" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="address_ru">Адрес (Русский) <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input v-model="page.address_ru" type="text" id="address_ru" required="required" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="address_en">Адрес (English) <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input v-model="page.address_en" type="text" id="address_en" required="required" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="address_uz">Адрес (O'zbekcha) <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input v-model="page.address_uz" type="text" id="address_uz" required="required" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">Электронный адрес <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input v-model="page.email" type="email" id="email" required="required" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="fifth">Total <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input v-model="page.fifth" type="text" id="fifth" required="required" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sixth">Now <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input v-model="page.sixth" type="text" id="sixth" required="required" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="first">Our goal <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input v-model="page.first" type="text" id="first" required="required" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="second">Achieved <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input v-model="page.second" type="text" id="second" required="required" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="third">This month result <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input v-model="page.third" type="text" id="third" required="required" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="fourth">Achieved result <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input v-model="page.fourth" type="text" id="fourth" required="required" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                        <button type="submit" class="btn btn-success">Сохранить</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['errors'],
        data(){
            return{
                logo: '',
                favico: '',
                page: {},
                errorm:{},
            }
        },
        created: function(){
            this.getData();
        },
        methods: {
            getData()
            {
                let uri = `/req/settings/`;
                this.axios.get(uri).then((response) => {
                    this.page = response.data;
                    this.logo = this.page.logo
                    this.favico = this.page.favicon
                });
            },
            Delete: function(){
                const input = this.$refs.file;
                input.type = 'text';
                input.type = 'file';
                this.image = '';
            },
            Upload (event){
                if (event.target.id == 'logo') {
                    var type = 'logo'
                } else {
                    var type = 'favico'
                }
                const file = event.target.files[0];
                let uri = '/req/upload';
                const formData = new FormData()
                formData.append('image', file, file.name)
                this.axios.post(uri, formData, {
                    params: {
                        type: type
                    }
                }).then((response) => {
                    if (type == 'logo') {
                        this.logo = response.data;
                    } else {
                        this.favico = response.data;
                    }
                })
            },
            Create(){
                let uri = '/req/settings';

                let data = new FormData();
                $.each(this.page, function(key, value) {
                    data.append(key, value);
                });

                data.append('logo', this.logo);
                data.append('favicon', this.favico);

                this.axios.post(uri, data)
                    .then((response) => {
                        this.$router.push({name: 'admin'})
                    })
                    .catch(error => {
                        this.errorm = error.response.data.errors;
                    });
            }
        }
    }
</script>
