<template>
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Социальные сети</h3>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_content">
                            <br />
                            <div class="errors">
                                <div v-for="error in errorm">
                                    {{error.toString()}}
                                </div>
                            </div>
                            <form v-on:submit.prevent="Create" enctype="multipart/form-data" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="facebook">Facebook
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input v-model="page.facebook" type="text" id="facebook" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="instagram">Instagram
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input v-model="page.instagram" type="text" id="instagram" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="telegram">Telegram
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input v-model="page.telegram" type="text" id="telegram" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="skype">Skype
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input v-model="page.skype" type="text" id="skype" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="twitter">Twitter
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input v-model="page.twitter" type="text" id="twitter" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="printerest">Printerest
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input v-model="page.printerest" type="text" id="printerest" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                        <button type="submit" class="btn btn-success">Сохранить</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['errors'],
        data(){
            return{
                page: {},
                errorm:{},
            }
        },
        created: function(){
            this.getData();
        },
        methods: {
            getData()
            {
                let uri = `/req/social/`;
                this.axios.get(uri).then((response) => {
                    this.page = response.data;
                });
            },
            Create(){
                let uri = '/req/social';

                this.axios.post(uri, this.page)
                    .then((response) => {
                        this.$router.push({name: 'admin'})
                    })
                    .catch(error => {
                        this.errorm = error.response.data.errors;
                    });
            }
        }
    }
</script>
