<template>
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Изменение сущности</h3>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_content">
                            <div class="errors">
                                <div v-for="error in errorm">
                                    {{error.toString()}}
                                </div>
                            </div>
                            <br />
                            <form v-on:submit.prevent="Create" enctype="multipart/form-data" id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="title">Название<span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-6 col-xs-12">
                                        <input v-model="page.title" type="text" id="title" required="required" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="order">Вес<span class="required">*</span>
                                    </label>
                                    <div class="col-md-9 col-sm-6 col-xs-12">
                                        <input v-model="page.order" type="number" id="order" required="required" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="file">Файл <span class="required">*</span>
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input ref="file" @change="Upload" type="file" id="file" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group" v-if="page.file">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">Предосмотр
                                    </label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="col-md-7">
                                            <div class="thumbnail">
                                                <div class="image view view-first">
                                                    <img style="width: 100%; display: block;" v-bind:src="page.file" alt="image">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                                        <router-link :to="{ name: 'Gallery' }" class="btn btn-danger">
                                            Отмена
                                        </router-link>
                                        <button class="btn btn-primary" type="reset">Очистить</button>
                                        <button type="submit" class="btn btn-success">Сохранить</button>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ['errors'],
        data(){
            return{
                page: {
                    'file': '',
                },
                extension: '',
            }
        },
        created: function()
        {
            this.getData();

        },
        methods: {
            Upload: function(event){
                const file = event.target.files[0];
                let uri = '/req/awards/u';
                const formData = new FormData()
                formData.append('file', file, file.name)
                this.axios.post(uri, formData).then((response) => {
                    this.page.file = response.data;
                })
            },
            getData()
            {
                let uri = `/req/awards/e/`+ this.$route.params.id;
                this.axios.get(uri).then((response) => {
                    this.page = response.data;
                });
            },
            Create(){
                let uri = `/req/awards/e/`+ this.$route.params.id;
                this.axios.post(uri, this.page)
                    .then((response) => {
                        this.$router.push({name: 'Gallery'})
                    })
                    .catch(error => {
                        this.errorm = error.response.data.errors;
                    });
            }
        }
    }
</script>
