<template>
    <div class="right_col" role="main">
        <div class="">
            <div class="page-title">
                <div class="title_left">
                    <h3>Список партнеров</h3>
                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_title">
                            <router-link :to="{ name: 'Partners_c' }" class="btn btn-info btn-xs">
                                <i class="fa fa-plus" aria-hidden="true"></i> Создать
                            </router-link>
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <form v-on:submit.prevent="Check">
                                <table id="datatable" class="table table-striped table-bordered">
                                    <thead class="sortable">
                                    <tr>
                                        <th></th>
                                        <th></th>
                                        <th :class="[{active: currentSort==='title'}, currentSortDir]">
                                            <div class="row">
                                                <label @click="sort('title')" class="col-md-12 labelcur">Название</label>
                                                <div class="col-md-12">
                                                    <div class="input-group">
                                                        <input type="text" class="nosort form-control" id="title" @keyup="filterInput">
                                                    </div>
                                                </div>
                                            </div>
                                        </th>
                                        <th :class="[{active: currentSort==='order'}, currentSortDir]">
                                            <div class="row">
                                                <label @click="sort('order')" class="col-md-12 labelcur">Вес</label>
                                                <div class="col-md-12">
                                                    <div class="input-group">
                                                        <input type="text" class="nosort form-control" id="order" @keyup="filterInput">
                                                    </div>
                                                </div>
                                            </div>
                                        </th>
                                        <th :class="[{active: currentSort==='created_at'}, currentSortDir]">
                                            <div class="row">
                                                <label class="col-md-12 labelcur" @click="sort('created_at')">Создано</label>
                                                <div class="col-md-12">
                                                    <div class="input-group">
                                                        <input type="text" class="nosort form-control" id="created_at" @keyup="filterInput">
                                                    </div>
                                                </div>
                                            </div>
                                        </th>
                                        <th style="width:15%;vertical-align: top;">Действия</th>
                                    </tr>
                                    </thead>
                                    <tbody id="data">
                                    <tr v-for="item in data" :data-id="item.id">
                                        <td><i class="handle fa fa-arrows" aria-hidden="true"></i></td>
                                        <td class="text-center"><input type="checkbox" v-model="check[item.id]"></td>
                                        <td>{{ item.title }}</td>
                                        <td>{{ item.path }}</td>
                                        <td>{{ moment(String(item.created_at)).format('YYYY-MM-DD') }}</td>
                                        <td>
                                            <div class="btn-group">
                                                <router-link :to="{ name: 'Partners_e', params: { id: item.id} }" class="btn btn-primary btn-xs">
                                                    <i class="fa fa-pencil" aria-hidden="true"></i>
                                                </router-link>
                                            </div>
                                            <div class="btn-group">
                                                <button class="btn btn-danger btn-xs" data-toggle="modal" v-bind:data-target="'.delete-'+item.id">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </button>
                                            </div>
                                            <div class="modal" :class="'delete-'+item.id" tabindex="-1" role="dialog" aria-hidden="true">
                                                <div class="modal-dialog modal-sm">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                                                            </button>
                                                            <h4 class="modal-title" id="myModalLabel2">Подтвердите удаление</h4>
                                                        </div>
                                                        <div class="modal-body">
                                                            <p>Вы действительно хотите удалить эту сущность?</p>
                                                            <p>Внимание! Действие отменить нельзя!</p>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                                                            <button type="button" class="btn btn-danger" data-dismiss="modal" @click="Delete(item.id)">Удалить</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <button class="btn btn-primary" type="reset">Очистить</button>
                                        <button type="submit" class="btn btn-success">Удалить</button>
                                        <button class="btn btn-primary" type="button" @click="Savedata">Сохранить</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<style>
    .btn-group.show{
        display: inline-block !important;
    }
    .labelcur{
        cursor: pointer;
    }
    .labelcur:hover{
        text-decoration: underline;
    }
</style>
<script>
    import moment from 'moment'
    import Sortable from 'sortablejs'
    export default {
        data(){
            return{
                data: [],
                old_data: [],
                currentSort:'id',
                currentSortDir:'asc',
                check: {},
                options: {
                    handle: '.handle',
                },
                sortable: {},
            }
        },
        methods: {
            filterInput(e){
                var id = e.target.id;
                var value = e.target.value;
                this.data = this.old_data;
                if (value != ''){
                    if(id == 'course_id'){
                        var dataFilter = this.old_data.filter(function (el) {
                            if (el['course']) {
                                return el['course']['title'].includes(value)
                            } else {
                                return false;
                            }
                        });
                    } else {
                        var dataFilter = this.old_data.filter(function (el) {
                            return el[id].includes(value)
                        });
                    }

                    this.data = dataFilter;
                }
            },
            Savedata(){
                var order = this.sortable.toArray();
                let uri = `/req/partners/o`;
                this.axios.post(uri, order)
                    .then((response) => {
                        this.getData();
                    })
                    .catch(error => {
                        this.errorm = error.response.data.errors;
                    });
                // console.log(order);
            },
            moment: function () {
                return moment();
            },
            Delete: function(id){
                let uri = `/req/partners/d/${id}`;
                this.axios.get(uri).then(() => {
                    this.getData();
                });
            },
            getData()
            {
                let uri = `/req/partners/`;
                this.axios.get(uri, {
                    params: {
                        currentSort: this.currentSort,
                        currentSortDir: this.currentSortDir
                    }
                }).then((response) => {
                    this.data = response.data;
                    this.old_data = response.data;
                    var el = document.getElementById('data');
                    this.sortable = Sortable.create(el, {
                        handle: ".handle",
                        bubbleScroll: true,
                        animation: 150,
                        easing: "cubic-bezier(1, 0, 0, 1)",
                    });
                });
            },
            Check(){
                let uri = '/req/partners';
                this.axios.post(uri, this.check)
                    .then((response) => {
                        this.getData();
                    })
                    .catch(error => {
                        this.errorm = error.response.data.errors;
                    });
            },
            sort: function(s) {
                //if s == current sort, reverse
                if(s === this.currentSort) {
                    this.currentSortDir = this.currentSortDir==='asc'?'desc':'asc';
                }
                this.currentSort = s;
                this.getData();
                var inputs = document.getElementsByClassName('nosort');
                for (var i = 0; i < inputs.length; i++)
                    inputs[i].value="";
            },
        },
        mounted(){
        },
        created: function()
        {
            this.getData();

        }
    }
</script>
